* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: rgba(32, 20, 146, 0.349);
}

.wrapper {
  min-height: 100vh;
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  height: 100px;
  display: flex;
}
.carousel:hover .slide {
  animation-play-state: paused;
}
.carousel::before,
.carousel::after {
  position: absolute;
  top: 0;
  content: "";
  height: 100px;
  width: 200px;
  background-color: red;
  z-index: 1;
  background: linear-gradient(to right, #aab4d3a9 0%, transparent 100%);
}
.carousel::before {
  left: 0;
}
.carousel::after {
  rotate: 180deg;
  right: 0;
}
.slide {
  display: flex;
  align-items: center;
  height: inherit;
  animation: slideshow 5s linear infinite;
}
.slide__image {
  height: calc(100% - 40px);
  margin: 0 40px;
}
@keyframes slideshow {
  0% {
   transform: translateX(0);
  }
  100% {
   transform: translateX(-100%);
  }
}
